---

---

<div class="max-w-[70%] mx-auto pb-72">
  <div class="flex items-center justify-center mx-auto">
    <h1 class="uppercase text-4xl font-bold">
      Rocky soloa <span class="text-lime-500">was born to</span>
    </h1>
    <img
      src="/images/fight_in_trenches.png"
      alt="Fight in trenches"
      class="animate-bounce-short"
    />
  </div>

  <div class="flex items-center justify-center mx-auto">
    <img
      src="/images/baby_rocky.png"
      alt="Baby Rocky Soloa"
      class="h-96 pulse"
    />
    <!-- <img
      src="/images/baby_soloa.gif"
      alt="Baby Rocky Soloa"
      class="h-96 object-cover"
    /> -->
  </div>

  <div class="flex flex-col items-center justify-center mx-auto my-4">
    <h2 class="uppercase text-3xl font-bold mb-6">
      This <span class="text-red-600">is not</span> just an average meme coin
    </h2>
    <p class="mb-2">
      In the wild west of crypto, where charts whip and FUD spreads like
      wildfire, <span class="text-lime-500 font-bold"
        >there's one hero who doesn't flinch—Rocky Soloa!</span
      >
    </p>
    <p class="mb-2">
      Straight out of the Solana blockchain, Rocky Soloa represents those who
      stayed after FTX collapse, those who supported during network outage,
      powered through moments of extreme congestion during NFT minting frenzies,
      survived the Wormhole bridge exploit, and celebrated Solana's milestones
      like the launch of Saga and the rise of innovative projects in DeFi and
      NFTs. Through every high and low, Rocky Soloa embodies the resilience of
      the ecosystem.
    </p>
    <p class="mb-2">
      Soloa is a movement, a cult, a symbol for those who still are showing up
      in the TRENCHES.
    </p>
  </div>

  <div class="flex flex-col items-center justify-center mx-auto my-4">
    <p class="text-lime-500 text-xl font-bold py-4">#SOLOARMY</p>
    <img src="/images/captain_rocky.png" alt="Baby Rocky Soloa" class="h-96" />
  </div>
</div>

<style>
  @keyframes pulse {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
    }
  }

  .pulse {
    animation: pulse 2s infinite; /* 2 seconds, infinite loop */
  }
</style>
