<div class="mx-auto">
  <!-- Heading and Image Section -->
  <div
    class="flex flex-col lg:flex-row items-center justify-center gap-6 mx-auto text-center lg:text-left"
  >
    <h1 class="uppercase text-2xl md:text-3xl lg:text-4xl font-bold">
      Rocky Soloa <span class="text-lime-500">was born to</span>
    </h1>
    <img
      src="/images/fight_in_trenches.png"
      alt="Fight in trenches"
      class="h-32 md:h-36 lg:h-36"
    />
  </div>

  <!-- Baby Rocky Image Section -->
  <div class="flex items-center justify-center mx-auto my-8">
    <img
      src="/images/baby_rocky.png"
      alt="Baby Rocky Soloa"
      class="h-64 md:h-80 lg:h-96 pulse"
    />
  </div>

  <!-- Text Section -->
  <div
    class="flex flex-col items-center justify-center mx-auto my-4 max-w-4xl px-4"
  >
    <h2
      class="uppercase text-xl md:text-2xl lg:text-3xl font-bold mb-6 text-center"
    >
      This <span class="text-red-600">is not</span> just an average meme coin
    </h2>
    <p class="mb-2 text-sm md:text-base lg:text-lg text-center">
      In the wild west of crypto, where charts whip and FUD spreads like
      wildfire, <span class="text-lime-500 font-bold"
        >there's one hero who doesn't flinch—Rocky Soloa!</span
      >
    </p>
    <p class="mb-2 text-sm md:text-base lg:text-lg text-center">
      Straight out of the Solana blockchain, Rocky Soloa represents those who
      stayed after FTX collapse, those who supported during network outage,
      powered through moments of extreme congestion during NFT minting frenzies,
      survived the Wormhole bridge exploit, and celebrated Solana's milestones
      like the launch of Saga and the rise of innovative projects in DeFi and
      NFTs. Through every high and low, Rocky Soloa embodies the resilience of
      the ecosystem.
    </p>
    <p class="mb-2 text-sm md:text-base lg:text-lg text-center">
      Soloa is a movement, a cult, a symbol for those who still are showing up
      in the TRENCHES.
    </p>
  </div>

  <!-- #SOLOARMY Section -->
  <div class="flex flex-col items-center justify-center mx-auto my-8">
    <p class="text-lime-500 text-lg md:text-xl lg:text-2xl font-bold py-4">
      #SOLOARMY
    </p>
    <img
      src="/images/captain_rocky.png"
      alt="Captain Rocky Soloa"
      class="h-48 md:h-64 lg:h-96"
    />
  </div>
</div>

<style>
  @keyframes pulse {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
    }
  }

  .pulse {
    animation: pulse 2s infinite; /* 2 seconds, infinite loop */
  }
</style>
