<div class="mx-auto pt-4 md:pt-8 lg:pt-12 -mb-4">
  <!-- Logo Section -->
  <div class="flex flex-col items-center justify-center mx-auto mb-8">
    <img
      src="/images/rocky_letter.png"
      alt="Rocky Soloa Letter"
      class="w-32 sm:w-48 md:w-64 lg:w-80"
    />
    <img
      src="/images/rocky_logo.png"
      alt="Rocky Soloa Logo"
      class="w-32 sm:w-48 md:w-64 lg:w-80 mt-4"
    />
  </div>

  <!-- Disclaimer Section -->
  <div
    class="flex flex-col items-center justify-center text-center mx-auto my-4 px-4"
  >
    <p class="mb-4 text-xs sm:text-sm md:text-base lg:text-lg max-w-3xl">
      Disclaimer: Rocky Soloa is a meme token created for entertainment purposes
      and community engagement and carries no intrinsic value. Investing in meme
      tokens like this is highly speculative and involves significant risk.
      Please note, Rocky Soloa has no association with Rocky Balboa or any
      related trademarks. This is not financial advice, invest only what you can
      afford to lose and do your own research before investing.
    </p>
    <p class="mb-4 text-xs sm:text-sm md:text-base lg:text-lg max-w-3xl">
      All Rights Reserved. Copyright&#169 2024.
    </p>
  </div>
</div>
