---

---

<div class="max-w-[70%] mx-auto pt-72 -mb-4">
  <div class="flex flex-col items-center justify-center mx-auto">
    <img src="/images/rocky_letter.png" alt="Fight in trenches" />
    <img src="/images/rocky_logo.png" alt="Fight in trenches" />
  </div>

  <div
    class="flex flex-col items-center justify-center text-center mx-auto my-4"
  >
    <p class="mb-4 text-sm">
      Disclaimer: Rocky Soloa is a meme token created for entertainment purposes
      and community engagement and carries no intrinsic value. Investing in meme
      tokens like this is highly speculative and involves significant risk.
      Please note, Rocky Soloa has no association with Rocky Balboa or any
      related trademarks. This is not financial advice, invest only what you can
      afford to lose and do your own research before investing.
    </p>
    <p class="mb-4 text-xs">All Rights Reserved. Copyright&#169 2024.</p>
  </div>
</div>
