---
import Card from "./Card.astro";
---

<div class="mx-auto">
  <!-- Image Section -->
  <div class="flex items-center justify-center mx-auto">
    <img
      src="/images/rockenomics.png"
      alt="Tokenomics title"
      class="h-48 md:h-64 lg:h-96"
    />
  </div>

  <!-- Content Section -->
  <div class="max-w-screen-xl mx-auto mb-4 -mt-4">
    <!-- Responsive Grid Layout -->
    <div class="grid gap-8">
      <!-- Row 1: Cards -->
      <ul
        role="list"
        class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8"
      >
        <Card
          href=""
          title="Supply"
          bottom="1B"
          image="/images/tockenomics/money_bag.png"
        />
        <Card
          href=""
          title="Launched in"
          bottom="Pump.fun"
          image="/images/tockenomics/pumpfunlogo.webp"
        />
        <Card
          href=""
          title="Network"
          bottom="Solana"
          image="/images/tockenomics/solana.png"
        />
      </ul>

      <!-- Row 2: Text Container -->
      <div
        class="bg-[radial-gradient(ellipse_at_center,_var(--tw-gradient-stops))] from-radial-bg-primary from-0% to-radial-bg-secondary to-70% text-white p-6 text-center col-span-full"
      >
        <p class="uppercase text-xl md:text-2xl lg:text-3xl font-bold">
          Contract Address
        </p>
        <p
          id="contract-address"
          class="text-sm md:text-base lg:text-lg font-semibold mb-4"
        >
          5asd784eas51asdagthyjujfgdfdsdf8658
        </p>
        <button
          onclick="copyToClipboard()"
          class="bg-green-500 hover:bg-green-800 text-white py-2 px-4 rounded-full"
        >
          Copy Address
        </button>
      </div>
    </div>
  </div>
</div>

<script>
  function copyToClipboard() {
    const contractAddressElement = document.getElementById("contract-address");

    if (contractAddressElement) {
      const textToCopy = contractAddressElement.innerText;
      navigator.clipboard
        .writeText(textToCopy)
        .then(() => {
          alert("Contract Address copied to clipboard!");
        })
        .catch((err) => {
          console.error("Failed to copy text: ", err);
        });
    } else {
      console.error("Contract address element not found.");
    }
  }
</script>
