---
import Card from "./Card.astro";
---

<div class="mx-auto">
  <!-- Image Section -->
  <div class="flex items-center justify-center mx-auto">
    <img
      src="/images/rockenomics.png"
      alt="Tokenomics title"
      class="h-48 md:h-64 lg:h-96"
    />
  </div>

  <!-- Content Section -->
  <div class="max-w-screen-xl mx-auto mb-4 -mt-4">
    <!-- Responsive Grid Layout -->
    <div class="grid gap-8 items-center justify-center">
      <!-- Row 1: Cards -->
      <ul role="list" class="flex flex-col gap-8">
        <Card
          text="Supply: 1,000,000,000"
          image="/images/tockenomics/money_bag.png"
        />
        <Card
          text="Launched in Pump.fun"
          image="/images/tockenomics/pumpfunlogo.webp"
        />
        <Card text="Solana Network" image="/images/tockenomics/solana.png" />
      </ul>
    </div>
    <!-- Row 2: Address Container -->
    <div class="flex flex-col items-center justify-center mt-12">
      <h3
        class="uppercase text-xl md:text-2xl lg:text-3xl font-bold text-center"
      >
        Contract Address
      </h3>
      <Card text="5asd784eas51asdagthyjujfgdfdsdf8658" image="" />
      <!-- <button
        onclick="copyToClipboard()"
        class="bg-green-500 hover:bg-green-800 text-white py-2 px-4 rounded-full mt-4"
      >
        Copy Address
      </button> -->
    </div>
  </div>
</div>

<!-- <script>
  function copyToClipboard() {
    const contractAddressElement = document.getElementById("contract-address");

    if (contractAddressElement) {
      const textToCopy = contractAddressElement.innerText;
      navigator.clipboard
        .writeText(textToCopy)
        .then(() => {
          alert("Contract Address copied to clipboard!");
        })
        .catch((err) => {
          console.error("Failed to copy text: ", err);
        });
    } else {
      console.error("Contract address element not found.");
    }
  }
</script> -->
